* {
    /* style changes made in universal selector, to change padding and margin to zero. also box-sizing changed. */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* body background changed to specified color. */
    background-color: #d9dcd6;
}
/* general class header specifications of padding,font-family,background-color,and text color changes */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
 
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* both top and bottom affect the h1 in class header. to result in font-size 48px, color, and display to inline-block */
.header h1 .seo {
    color: #d9dcd6;
}
/* increaseing padding and margin while moving text to the right, font-family and font size changes. */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* removing bulleted points, setting text to inline and margin-left to 25px for changes to links */
.header nav a {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* setting color for links and text-decorations to none. */
a {
    color: #ffffff;
    text-decoration: none;
}
/* setting font size for paragraphs presented in article section */
p {
    font-size: 16px;
}
/* setting specifications to cover image;by centering and size and including url to image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* images with the float-left class will be moved to the left with a margin of 25px */
.float-left {
    float: left;
    margin-right: 25px;
}
/* images with the float-right class will be moved to the right with a margin of 25px */
.float-right {
    float: right;
    margin-left: 25px;
}
/* article with the class of content will have the width, display, and margin set to below specifications. affecting what is inside article. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* aside section class benefit-lead */
.benefit-s {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-s h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* aside section class benefit-lead img style */
.benefit-s img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* style for article class online-reputation-management */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* style for article class social-media-marketing */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* setting height of img in article */
.search-engine-optimization img {
    max-height: 200px;
}
/* setting height of img in article */
.online-reputation-management img {
    max-height: 200px;
}
/* setting height of img in article */
.social-media-marketing img {
    max-height: 200px;
}
/* style for header h2 in article */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* style for header h2 in article */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* style for header h2 in article */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* footer style for text */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* footer h2 header style font-size */
.footer h2 {
    font-size: 20px;
}
